

section {
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

#timer .countdown-wrapper {
    margin: 0 auto;
}

#timer .card-header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
}

#timer #countdown {
    font-family:Overpass;
    text-align: center;
    color: #f11212;
    text-shadow: 1px 1px 5px rgb(7, 242, 11);
    padding: 40px 0;
}

#countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 90px;
    border-radius: 50%;
    cursor: pointer;
}

#timer .countdown-wrapper #countdown #sec {
    box-shadow: 0 0 0 5px rgba(59, 243, 2, 0.5)
}

#timer .countdown-wrapper #countdown #sec:hover {
    box-shadow: 0 0 0 5px rgb(245, 3, 232)
}

#timer #wishes-content {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    word-wrap: break-word;
    word-break: break-all;
}

.multicolortext {
    background-image: linear-gradient(to left, rgb(88, 18, 8), rgb(28, 212, 11), rgb(10, 48, 144), rgb(227, 11, 213), rgb(242, 234, 8), orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}